html, body {

  color: #636b6f;

  font-weight: 700;
  height: 100vh;
  margin: 20px;
  font-family: 'Arapey', serif;
}
img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
ul{
  padding-left: 0;
}
ul li {
  list-style: none;
  border-color: #ea3900

}
footer {
  background-color: white;
  margin-top: 100px;
  padding: 20px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: white;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}
.thumbnail {
  min-height: 400px;
}
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

h1 , h2, h3 {
  font-family: 'Lobster', cursive;
}
.navbar {
  background-color: #ea3900;
  color:white;
}
.navbar-default .navbar-nav>li>a{
  color:white;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  color: white;
}
.thumbnail {
  background-color: rgba(21, 198, 255, 0.15);
  box-shadow: 2px 2px 2px 2px  #14c4ff;

}
.btn-warning {
  background-color: #ea3900;
  border-color: #ea3900;
}
.btn-primary {
  background-color: #00b1ea;
  border-color: #00b1ea;
}
.btn-primary:hover {
  background-color: #ec971f;
  border-color: #ec971f;
}

footer {
 background-color: #ea3900;
 color:white;
}
.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}
.carousel {
  position: relative;
}
.shop-now {
  position: absolute;
  top: 60%;
  right: 45%;
  width: 11%;
  height: 7%;
  background-color: #ea3900;
  text-align: center;
  border: 3px solid;
  border-color: #ea3900;

}
.shop-now a {
  color: white;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 1.2em;

}
.btn-success {
  background-color: #eea236;
  border-color: #eea236;
}
.btn-success:hover {
  background-color: #ea3900;
  border-color: #ea3900;
}
.img-responsive{
  width: 100px;
  height: 180px;
  max-width: 100%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #ea3900;
  color:white;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  background-color: #ea3900;
  color:white;
}
.form-group {
  width: 100%;  
}

.branch-create-form {
  text-align: center;
  padding:5% 10%;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #ea3900;
}
.book-form-photo {
  max-width: 20%;
}


@media (min-width: 768px) and (max-width: 1279px) {
  .shop-now a {
  padding-bottom: 15px;
}
 .shop-now {
 padding-bottom: 15px;
 height: 11%;

}
}


@media (max-width: 768px) {
      .shop-now {
  position: absolute;
  top: 30%;
  right: 45%;
  width: 14%;
  height: 2%;
  background-color: #ea3900;
  text-align: center;
  border: 1px solid;
  border-color: #ea3900;
  }

  .shop-now a {
  color: white;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 0.8em;
  text-align: left;
  }

  .main-dropdown>li>a {
    padding: 115px;
    width: 15px;
    height: 15px;

  }
  .nav>li>a {
    padding:1px;

  }
  li>.dropdown {
    width: 10px;
    height: 10px;
  }
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    padding-bottom: 15px;
  }
  .navbar {
    min-height: 100px;
  }
  .dropdown-menu>li {
    padding:15px 10px;
  }

  .shop-now {
  display: none;

}
.shop-now a {
  display: none;
}

}